body{
    font-family: 'inter';
}
#cabecalho{
background-color: #303030;
height: 300px;
}
#titulocabecalho{
    color: #ffffff;
    margin-left: 40px;
    padding-top: 125px;
    font-size: 35px;
}
#subtitulocabecalho{
    color: #ffffff;
    font-size: 15px;
    margin-left: 50px;
}
/*BARRA DE INFORMAÇÃO */
#barrainformacao{
    background-color: #F9F9F9;
    display: grid;
    height: 200px;
    grid-auto-flow: column;
    columns: auto;
}
.informacoes{
    padding-top: 50px;
    padding-left: 100px;

}