body{
    font-family: 'inter';
}
#cabecalho{
background-color: #303030;
height: 300px;
}
#titulocabecalho{
    color: #ffffff;
    margin-left: 40px;
    padding-top: 125px;
    font-size: 35px;
}
#subtitulocabecalho{
    color: #ffffff;
    font-size: 15px;
    margin-left: 50px;
}
/*BARRA DE INFORMAÇÃO */
#barrainformacao{
    background-color: #F9F9F9;
    display: grid;
    height: 200px;
    grid-auto-flow: column;
    columns: auto;
}
.informacoes{
    padding-top: 50px;
    padding-left: 100px;

}
/*SOBRE NOS*/
#sobrenos {
    display: grid;
    grid-auto-flow: column; /* Organiza os itens em colunas */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    column-gap: 40px; /* Espaçamento entre as colunas */
    padding: 40px 20px; /* Espaçamento interno */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

#textosobrenos, #subtextosobrenos {
    text-align: left; /* Alinha o texto à esquerda */
}

#textosobrenos {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

#subtextosobrenos {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

#imagemprojeto img {
    max-width: 100%; /* Faz a imagem se ajustar ao container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
